* {margin: 0; padding: 0;}

section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  margin: 10px auto 0;
}

img {
  width: 200px;
  height: 200px;
  background-color: rgb(186,213,229);
  padding: 20px;
  border: 10px solid darkblue;
  margin: 18px;
}
